<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHIRO NO KURO</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/stylesheet.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="header-left">
        <a href="index"><img class="logo" src="images/logo.png"></a>
      </div>
      <!-- Tambahkan ikon menu disini -->
      <div class="header-right">
        <a href="index">Home</a>
        <a href="anggota">Anggota</a>
        <a href="daftarbuku">Daftar Buku</a>
        <a href="daftarpeminjambuku">Daftar Peminjam Buku</a>
        <a href="aboutus">About us</a>
      </div>
    </div>
  </header>
  <div class="top-wrapper"></div>
  </br>
  </br>
  <div class="container">
   <h2>DAFTAR ANGGOTA</h2>
   <table class="table table-bordered table-hover">
      <thead>
      <tr>
          <th>ID ANGGOTA</th>
          <th>NAMA</th>
          <th>ALAMAT</th>
          <th>NO TELEPHONE</th>
          <th width="10%" colspan="2">Aksi</th>
      </tr>
      </thead>
   
          <tbody>
            {% for row in anggota %}
            <tr>
               <td>{{ row[0] }}</td>
               <td>{{ row[1] }}</td>
               <td>{{ row[2] }}</td>
               <td>{{ row[3] }}</td>
               <td><a href="http://localhost:5000/edit/{{row[0]}}" class="btn btn-warning" role="button">Ubah</a></td>
               <td><a href="http://localhost:5000/hapus/{{row[0]}}" class="btn btn-danger" role="button">Hapus</a></td>
            </tr>
         {% endfor %}
          </tbody>
   </table>
   <a href="http://localhost:5000/tambah" class="btn btn-primary" role="button">Tambah Data</a>
   </div>
   </br>
   </br>
   </br>
   </br>
   </br>
  <footer>
    <div class="container">
      <a href="index"><img src="images/logo.png"></a>
      <p>&copy; Copyright by 19552011102 Ariansyah Fadillah TIF-RM-19A</p>
    </div>
  </footer>
</body>

</html>