<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHIRO NO KURO</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/stylesheet.css') }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="header-left">
        <a href="index"><img class="logo" src="images/logo.png"></a>
      </div>
      <!-- Tambahkan ikon menu disini -->
      <div class="header-right">
        <a href="index">Home</a>
        <a href="anggota">Anggota</a>
        <a href="daftarbuku">Daftar Buku</a>
        <a href="daftarpeminjambuku">Daftar Peminjam Buku</a>
        <a href="aboutus">About us</a>
      </div>
    </div>
  </header>
  <div class="top-wrapper">
    <div class="container">
      <h1>SHIRONOKURO.</h1>
      <h1>TEMPAT KHUSUS PARA PEMBACA.</h1>
      <p>Shironokuro adalah platform perpustakaaan online.</p>
      <p>Kami menawarkan kebutuhan yang lengkap untuk para pembaca.</p>
      <div class="btn-wrapper">
        <a href="#" class="btn signup">Daftar</a>

      </div>
    </div>
  </div>
  <div class="message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>Apakah anda ingin tahu tentang kami? Yakin gak mau tau?</h2>
        <h3>Ayo lihat-lihat aja dulu!</h3>
      </div>
      <a href="aboutus"><span class="btn message">Mulai</span></a>
    </div>
  </div>
  <footer>
    <div class="container">
      <a href="index"><img src="images/logo.png"></a>
      <p>&copy; Copyright by 19552011102 Ariansyah Fadillah TIF-RM-19A</p>
    </div>
  </footer>
</body>

</html>